{% extends 'base.html' %}
{% load static %}
{% block title %}Recie Manager{% endblock %}
{% block content %}
<div class="container-fluid pt-md-3">
    <div class="row mt-5 mt-md-2">
        <h1 class="text-center page-headers"> Recipe Manager</h1>
    </div>
    <div class="row justify-content-evenly my-4">
        <div class="col-3 col-md-2 mx-1">
            <div class="row py-2 justify-content-center">
                {% if request.user.is_superuser %}
                <a class="btn btn-all" href="{% url 'recipe_add' %}" aria-label="Add recipes" rel="opener">
                    Add Recipe
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-3 col-md-2 mx-1">
            <div class="row py-2 justify-content-center">
                <a class="btn btn-all" href="{% url 'recipes_all' %}" aria-label="All recipes" rel="opener">
                    All Recipes
                </a>
            </div>
        </div>
    </div>
    <div class="row justify-content-evenly">
        <div class="col-4 col-sm-3 col-lg-2 mx-1 mb-4">
            <div class="row py-2 justify-content-center">
                <h2 class="category-headers text-center">
                    Starter Recipes
                </h2>
            </div>
            <div class="row py-2 justify-content-center">
                <a class="btn btn-all" href="{% url 'recipes_all' %}?recipesubcategory=starters"
                    aria-label="View All starters" rel="opener">
                    All Starters
                </a>
            </div>
            <div class="row py-2 justify-content-center">
                <a class="btn btn-all" href="{% url 'recipes_all' %}?recipesubcategory=cold-starters"
                    aria-label="View Cold Starters" rel="opener">
                    Cold Starters
                </a>
            </div>
            <div class="row py-2 justify-content-center">
                <a class="btn btn-all" href="{% url 'recipes_all' %}?recipesubcategory=hot-starters"
                    aria-label="View Hot Starters" rel="opener">
                    Hot Starters
                </a>
            </div>
            <div class="row py-2 justify-content-center">
                <a class="btn btn-all" href="{% url 'recipes_all' %}?recipesubcategory=other-starters"
                    aria-label="View Other Starters" rel="opener">
                    Other Starters
                </a>
            </div>
        </div>
        <div class="col-4 col-sm-3 col-lg-2 mx-1 mb-4">
            <div class="row py-2 justify-content-center">
                <h2 class="Category text-center">
                    Main Course Recipes
                </h2>
            </div>
            <div class="row py-2 justify-content-center">
                <a class="btn btn-all" href="{% url 'recipes_all' %}?recipesubcategory=mains" aria-label="View All Mains"
                    rel="opener">
                    All Main
                </a>
            </div>
            <div class="row py-2 justify-content-center">
                <a class="btn btn-all" href="{% url 'recipes_all' %}?recipesubcategory=cold-mains"
                    aria-label="View Cold Mains" rel="opener">
                    Cold Mains
                </a>
            </div>
            <div class="row py-2 justify-content-center">
                <a class="btn btn-all" href="{% url 'recipes_all' %}?recipesubcategory=hot-mains"
                    aria-label="View Hot Mains" rel="opener">
                    Hot Mains
                </a>
            </div>
            <div class="row py-2 justify-content-center">
                <a class="btn btn-all" href="{% url 'recipes_all' %}?recipesubcategory=other-mains"
                    aria-label="View Other Mains" rel="opener">
                    Other Mains
                </a>
            </div>
        </div>
        <div class="col-4 col-sm-3 col-lg-2 mx-1 mb-4">
            <div class="row py-2 justify-content-center">
                <h2 class="Category text-center">
                    Desserts Recipes
                </h2>
            </div>
            <div class="row py-2 justify-content-center">
                <a class="btn btn-all" href="{% url 'recipes_all' %}?recipesubcategory=desserts"
                    aria-label="View All Desserts" rel="opener">
                    All Desserts
                </a>
            </div>
            <div class="row py-2 justify-content-center">
                <a class="btn btn-all" href="{% url 'recipes_all' %}?recipesubcategory=cold-desserts"
                    aria-label="View Cold Desserts" rel="opener">
                    Cold Desserts
                </a>
            </div>
            <div class="row py-2 justify-content-center">
                <a class="btn btn-all" href="{% url 'recipes_all' %}?recipesubcategory=hot-desserts"
                    aria-label="View Hot Dessertss" rel="opener">
                    Hot Desserts
                </a>
            </div>
            <div class="row py-2 justify-content-center">
                <a class="btn btn-all" href="{% url 'recipes_all' %}?recipesubcategory=other-desserts"
                    aria-label="View Other Desserts" rel="opener">
                    Other Desserts
                </a>
            </div>
        </div>
        <div class="col-4 col-sm-3 col-lg-2 mx-1 mb-4">
            <div class="row py-2 justify-content-center">
                <h2 class="Category text-center">
                    Dessert Sauces Recipes
                </h2>
            </div>
            <div class="row py-2 justify-content-center">
                <a class="btn btn-all" href="{% url 'recipes_all' %}?recipesubcategory=dessert-sauces"
                    aria-label="View All Dessert Sauces" rel="opener">
                    All Dessert Sauces
                </a>
            </div>
            <div class="row py-2 justify-content-center">
                <a class="btn btn-all" href="{% url 'recipes_all' %}?recipesubcategory=cold-dessert-sauces"
                    aria-label="View Cold Dessert Sauces " rel="opener">
                    Cold Dessert Sauces
                </a>
            </div>
            <div class="row py-2 justify-content-center">
                <a class="btn btn-all" href="{% url 'recipes_all' %}?recipesubcategory=hot-dessert-sauces"
                    aria-label="View Hot Dessert Sauces" rel="opener">
                    Hot Dessert Sauces
                </a>
            </div>
            <div class="row py-2 justify-content-center">
                <a class="btn btn-all" href="{% url 'recipes_all' %}?recipesubcategory=other-dessert-sauces"
                    aria-label="View Other Dessert Sauces" rel="opener">
                    Other Dessert Sauces
                </a>
            </div>
        </div>
        <div class="col-4 col-sm-3 col-lg-2 mx-1 mb-4">
            <div class="row py-2 justify-content-center">
                <h2 class="Category text-center">
                    Sauces Recipes
                </h2>
            </div>
            <div class="row py-2 justify-content-center">
                <a class="btn btn-all" href="{% url 'recipes_all' %}?recipesubcategory=sauces" aria-label="View All Sauces"
                    rel="opener">
                    All Sauces
                </a>
            </div>
            <div class="row py-2 justify-content-center">
                <a class="btn btn-all" href="{% url 'recipes_all' %}?recipesubcategory=cold-sauces"
                    aria-label="View Cold Sauces " rel="opener">
                    Cold Sauces
                </a>
            </div>
            <div class="row py-2 justify-content-center">
                <a class="btn btn-all" href="{% url 'recipes_all' %}?recipesubcategory=hot-sauces"
                    aria-label="View Hot Sauces" rel="opener">
                    Hot Sauces
                </a>
            </div>
            <div class="row py-2 justify-content-center">
                <a class="btn btn-all" href="{% url 'recipes_all' %}?recipesubcategory=other-sauces"
                    aria-label="View Other Sauces" rel="opener">
                    Other Sauces
                </a>
            </div>
        </div>
        <div class="col-4 col-sm-3 col-lg-2 mx-1 mb-4">
            <div class="row py-2 justify-content-center">
                <h2 class="Category text-center">
                    Sides Recipes
                </h2>
            </div>
            <div class="row py-2 justify-content-center">
                <a class="btn btn-all" href="{% url 'recipes_all' %}?recipesubcategory=sides" aria-label="View All Sides"
                    rel="opener">
                    All Sides
                </a>
            </div>
            <div class="row py-2 justify-content-center">
                <a class="btn btn-all" href="{% url 'recipes_all' %}?recipesubcategory=sides"
                    aria-label="View Cold Sides " rel="opener">
                    Cold Sides
                </a>
            </div>
            <div class="row py-2 justify-content-center">
                <a class="btn btn-all" href="{% url 'recipes_all' %}?recipesubcategory=sides"
                    aria-label="View Hot Sides" rel="opener">
                    Hot Sides
                </a>
            </div>
            <div class="row py-2 justify-content-center">
                <a class="btn btn-all" href="{% url 'recipes_all' %}?recipesubcategory=sides"
                    aria-label="View Other Sides" rel="opener">
                    Other Sides
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}