@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    /*--- Fonts ---*/
    --headers: 'EB Garamond', serif, arial;
    --text-fonts: 'Roboto', serif, arial;

    /*--- Colours ---*/
    --white: #fff;
    --nav-footer-bg: #770b0b;
    --active-page: #fffb00;
    --nav-hover: #fffb00;
    --product-home-bg: #a0a0a0;

    /*--- Buttons ---*/
    --btn-search-border: 2px solid #fff;
    --btn-search-hover-border: 2px solid #fffb00;
    --btn-products: #770b0b;
    ---btn-border-product-home:2px solid #fff;
    ---btn-border-product-home-hover:2px solid #fffb00;

    /*--- Products ---*/
    --product-home-shadows:5px -3px 15px 0px #000000e0;

    /*--- Nav ---*/
    --bs-offcanvas-width-left: 280px;
    --bs-offcanvas-width-right: 150px;
    --nav-hover-shadow: 0px 6px 2px -4px #000000ef;
    --nav-dropdown-shadows: 5px -3px 15px 0px #000000e0;


    /* Box Styling
    --box-shadows: 2px -3px 8px 0 #000000c9;
    --borders: 2px solid #000000;
    --border-view: 3px groove #818181;*/
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--product-home-bg);
}

/*------------ Header ------------*/
/*--- Nav Buttons ---*/

.btn-side-search,
.btn-search {
    border: var(--btn-search-border);
    color: var(--white);
    background-color: transparent;
}

.btn-search {
    width: 40px;
    height: 35px;
    padding: 0;
}

.btn-side-search {
    width: 35px;
    padding: 0;
    height: 30px;
}

.btn-side-search:hover,
.btn-search:hover {
    border: var(--btn-search-hover-border);
    color: var(--nav-hover);
}
/*--- Nav ---*/
.nav-txt:hover,
.bg-nav-dropdowns,
.bg-nav {
    background-color: var(--nav-footer-bg);
}

.nav-ac-headers,
.nav-headers,
.nav-side-txt,
.nav-side-headers,
.nav-txt {
    color: var(--white);
}

.nav-headers:hover,
.nav-side-txt:hover,
.nav-txt:hover {
    color: var(--nav-hover);
}

.nav-headers:hover {
    box-shadow: var(--nav-hover-shadow);
}

.nav-txt,
.nav-side-txt {
    font-family: var(--text-fonts);
    font-size: 15px;
}

.nav-ac-headers,
.nav-headers,
.nav-side-headers {
    font-family: var(--headers);
}

.nav-ac-headers,
.nav-headers {
    font-size: 20px;
}

.nav-side-headers {
    font-size: 20px;
}

.logo {
    width: 3.5em;
    height: 1.75em;
}

/*--- Screens md + ---*/

.bg-nav-dropdowns {
    box-shadow: var(--nav-dropdown-shadows);
}

.search-nav-lg {
    margin-top: 65px;
}

.nav-search {
    height: 35px;
}

/*--- Sreens below md ---*/

.navbar {
    --bs-navbar-toggler-icon-bg-ac: url("../icons/user-gear-solid.svg");
    --bs-navbar-toggler-icon-bg: url("../icons/bars-solid.svg");
    --bs-navbar-toggler-transition: none;
}

.navbar-toggler-icon-ac {
    background-image: var(--bs-navbar-toggler-icon-bg-ac);
}

.navbar-toggler-ac {
    border: none;
    transition: none;
}

.navbar-toggler-icon {
    width: 1.25em;
    height: 1.25em;
}

.navbar-toggler-icon-ac:hover {
    --bs-navbar-toggler-icon-bg-ac: url("../icons/user-gear-solid-yellow.svg");
}

.navbar-toggler-icon:hover {
    --bs-navbar-toggler-icon-bg: url("../icons/bars-solid-yellow.svg");
}

.nav-line {
    color: var(--white);
    border-width: 2px;
}

.offcanvas,
.offcanvas-xxl,
.offcanvas-xl,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm {
    --bs-offcanvas-width: 30px
}

.offcanvas.offcanvas-start {
    width: var(--bs-offcanvas-width-left);
}

.offcanvas.offcanvas-end {
    width: var(--bs-offcanvas-width-right);
}

.side-nav-search {
    height: 30px;
}

/*------------ Footer ------------*/

footer {
    background-color: var(--nav-footer-bg);
    height: 50px;
}

.footer-txt {
    color: var(--white);
    font-size: 20px;
}

.footer-txt:hover {
    color: var(--nav-hover);
}

/*------------ Generic ------------*/
.page-headers {
    font-family: var(--headers);
    font-size: 40px;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/*------------ Products -------------*/

/*--- Product Buttons ---*/
.btn-products {
    background-color: var(--btn-products);
    color: var(--white);
    max-width: 180px;
    border: var(---btn-border-product-home);
    box-shadow: var(--product-home-shadows);
    
}

.btn-products:hover {
    background-color: var(--btn-products);
    color: var(--nav-hover);
    border: var(---btn-border-product-home-hover);
}

.product-sub-heading {
    font-family: var(--headers);
    font-size: 30px;
}

/*--- Products Home ---*/


.product-home-headers {
    font-family: var(--headers);
    font-size: 30px;
}

/*--- Products all ---*/

.product-search {
    max-width: 500px;
}

select {
    appearance: none;
    outline: none;
    cursor: pointer;
    background-color: var(--btn-products);
    border: var(---btn-border-product-home);
    color: var(--white);
    border-radius: 5px;
    padding: 2px 5px;
    height: 40px;
    box-shadow: var(--product-home-shadows);
    font-family: var(--headers);
    font-size: 18px;
    text-align: center;
}

.sort-select {
    max-width: 200px;
}

select:hover {
    border: var(---btn-border-product-home-hover);
    color: var(--nav-hover);
}

option {   
    color: var(--white);
}

.product-card-text {
    font-family: var(--text-fonts);
    font-size: 16px;
    font-weight: 400;
}

.product-card{
    width: 300px;
}

/*--- Products Add ---*/
.product-form {
    max-width: 450px;
}

.product-form-txt {
    font-family: var(--text-fonts);
    font-size: 18px;
}

.product-form-heading{
    font-family: var(--headers);
    font-size: 26px;
    font-weight: 700;
}

/*--- Produsta Edit ---*/

/*--- Products Delete ---*/


/*------------ Media Queries ------------*/
@media (min-width: 400px) {
    .page-headers {
        font-family: var(--headers);
        font-size: 50px;
    }
}

@media (min-width: 768px) {
    .content-offset {
        margin-top: 110px;
    }
}

@media (min-width: 1200px) {
    .content-offset {
        margin-top: 55px;
    }
}