    <ul class="navbar-nav justify-content-start d-block d-md-none">
        <li class="nav-item">
            <a class="nav-link p-0 m-0 {% if url_name == 'home' %}active-link{% endif %}" aria-current="page"
            href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
            Menus
            <a class="nav-link p-0 m-0" href="#">View Menus</a>
            <a class="nav-link p-0 m-0" href="#">Add Menu</a>
        </li>
        <li class="nav-item">
            Starters
            <a class="nav-link p-0 m-0" href="#">View Recipes</a>
            <a class="nav-link p-0 m-0" href="#">Add Recipe</a>
            <hr class="dropdown-divider">
            <a class="nav-link p-0 m-0" href="#">Dishes</a>
            <a class="nav-link p-0 m-0" href="#">Add Dish</a>
            <hr class="dropdown-divider">
            <a class="nav-link p-0 m-0" href="#">Sauces</a>
            <a class="nav-link p-0 m-0" href="#">Add Sauces</a>
        </li>
        <li class="nav-item dropdown">
            Mains
            <a class="nav-link p-0 m-0" href="#">View Recipes</a>
            <a class="nav-link p-0 m-0" href="#">Add Recipe</a>
            <hr class="dropdown-divider">
            <a class="nav-link p-0 m-0" href="#">Dishes</a>
            <a class="nav-link p-0 m-0" href="#">Add Dish</a>
            <hr class="dropdown-divider">
            <a class="nav-link p-0 m-0" href="#">Sauces</a>
            <a class="nav-link p-0 m-0" href="#">Add Sauces</a>
        </li>
        <li class="nav-item dropdown">
            Sides
            <a class="nav-link p-0 m-0" href="#">View Recipes</a>
            <a class="nav-link p-0 m-0" href="#">Add Recipe</a>
            <hr class="dropdown-divider">
            <a class="nav-link p-0 m-0" href="#">Dishes</a>
            <a class="nav-link p-0 m-0" href="#">Add Dish</a>
            <hr class="dropdown-divider">
        </li>
        <li class="nav-item dropdown">
            Desserts
            <a class="nav-link p-0 m-0" href="#">View Recipes</a>
            <a class="nav-link p-0 m-0" href="#">Add Recipe</a>
            <hr class="dropdown-divider">
            <a class="nav-link p-0 m-0" href="#">Dishes</a>
            <a class="nav-link p-0 m-0" href="#">Add Dish</a>
            <hr class="dropdown-divider">
            <a class="nav-link p-0 m-0" href="#">Sauces</a>
            <a class="nav-link p-0 m-0" href="#">Add Sauces</a>
        </li>
        <li class="nav-item dropdown">
            Products
            <a class="nav-link p-0 m-0" href="#">View Products</a>
            <a class="nav-link p-0 m-0" href="#">Add Product</a>
        </li>
    </ul>
</div>