{% load static %}
<nav class="navbar bg-body-tertiary navbar-expand-md fixed-top d-flex d-md-none">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="+1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <form class="d-flex mt-3 d-block d-md-none" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="offcanvas-body ">
            {% include 'includes/mobile-nav-items.html' %}
        </div>
    </div>
    <div class="d-block d-md-none">
        <h5 class="text-center">Menu Manager</h5>
    </div>
    <button class="navbar-toggler navbar-toggler-ac" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbarl" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon navbar-toggler-icon-ac"></i></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbarl" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body ">
            {% include 'includes/mobile-account-nav-items.html' %}
        </div>
    </div>
</nav>