{% load static %}
<div class="row">
    <Div class="col-12">
        <a class="nav-link nav-txt {% if url_name == 'home' %}active-link{% endif %}" aria-current="page"
        href="{% url 'home' %}">Home</a>
    </Div>
</div>
<div class="row">
    <hr class="nav-row-line">
    <Div class="col-6">
        <p class="side-nav-headers">Menus</p>
        <hr class="nav-line">
        <a class="dropdown-item" href="#">Specials</a>
        <a class="dropdown-item" href="#">Early Bird</a>
        <a class="dropdown-item" href="#">À la carte</a>
        <a class="dropdown-item" href="#">Create Menu</a>
    </Div>
    <div class="col-6">
        <p class="side-nav-headers">Recipe Book</p>
        <hr class="nav-line">
        <a class="dropdown-item" href="#">Recipes</a>
        <a class="dropdown-item" href="#">Create Recipes</a>
    </div>
</div>
<div class="row mt-4">
    <hr class="nav-row-line">
    <Div class="col-6">
        <p class="side-nav-headers">Dish Book</p>
        <hr class="nav-line">
        <a class="dropdown-item" href="#">All Dishes</a>
        <a class="dropdown-item" href="#">Main Dishes</a>
        <a class="dropdown-item" href="#">Starter Dishes</a>
        <a class="dropdown-item" href="#">Dessert Dishes</a>
        <a class="dropdown-item" href="#">Side Dishes</a>
        <a class="dropdown-item" href="#">Create Dish</a>
    </Div>
    <div class="col-6">
        <p class="side-nav-headers">Sauce Book</p>
        <hr class="nav-line">
        <a class="dropdown-item" href="#">All Sauces</a>
        <a class="dropdown-item" href="#">Main Sauces</a>
        <a class="dropdown-item" href="#">Starter Sauces</a>
        <a class="dropdown-item" href="#">Dessert Sauces</a>
        <a class="dropdown-item" href="#">Side Sauces</a>
    </div>
</div>
<div class="row mt-4">
    <hr class="nav-row-line">
    <div class="col-6">
        <p class="side-nav-headers"> Account</p>
        <hr class="nav-line">
        <a class="nav-link login" href="">Login</a>
        <a class="nav-link login" href="">Logout</a>
        <a class="nav-link login" href="">Register</a>
        <a class="nav-link login" aria-current="page" href="">Admin Pannel</a> 
    </div>
    <Div class="col-6">
        <p class="side-nav-headers">Products</p>
        <hr class="nav-line">
        <a class="dropdown-item" href="#">Products</a>
        <a class="dropdown-item" href="#">Add Product</a>
    </Div>
</div>