{% load static %}
    <ul class="navbar-nav justify-content-evenly flex-grow-1 d-none d-md-flex">
        <li class="nav-item p-0 m-0">
            <a class="navbar-brand" href="#"><img src="{% static 'images/logo.png' %}" alt="Logo" class="logo logo-bg"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-txt {% if url_name == 'home' %}active-link{% endif %}" aria-current="page"
            href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Menus
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">View Menus</a></li>
                <li><a class="dropdown-item" href="#">Add Menu</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Starters
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">View Recipes</a></li>
                <li><a class="dropdown-item" href="#">Add Recipe</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Dishes</a></li>
                <li><a class="dropdown-item" href="#">Add Dish</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sauces</a></li>
                <li><a class="dropdown-item" href="#">Add Sauces</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
               Mains
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">View Recipes</a></li>
                <li><a class="dropdown-item" href="#">Add Recipe</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Dishes</a></li>
                <li><a class="dropdown-item" href="#">Add Dish</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sauces</a></li>
                <li><a class="dropdown-item" href="#">Add Sauces</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
               Sides
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">View Recipes</a></li>
                <li><a class="dropdown-item" href="#">Add Recipe</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
               Desserts
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">View Recipes</a></li>
                <li><a class="dropdown-item" href="#">Add Recipe</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Dishes</a></li>
                <li><a class="dropdown-item" href="#">Add Dish</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sauces</a></li>
                <li><a class="dropdown-item" href="#">Add Sauces</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Products
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">View Products</a></li>
                <li><a class="dropdown-item" href="#">Add Product</a></li>
            </ul>
        </li>
      </ul>
