{% load static %}
<div hx-target="this">
    <div class="row">
            <div class="col-8">
                <p class="">- {{ ingredient.ingredient }}</p>
            </div>
            <div class="col-2">
                <p class="">{{ ingredient.quantity }}</p>
            </div>
            <div class="col-2">
                <p class="">{{ ingredient.ingredientline_total }}</p>
            </div>
        <div class="row justify-content-center">
            <button hx-get="{% url 'update_ingredient' ingredient.id %}" hx-ta="outerHTML"
                class="btn btn-all">
                edit
            </button>
            <button hx-post="{% url 'delete_ingredient' ingredient.id %}" hx-swap="outerHTML swap:0s"
                class="btn btn-all">
                delete
            </button>
        </div>
    </div>
</div>